<!DOCTYPE html>
<html>
  <head>
    <title>RailsGooglemap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer data-turbolinks-track="reload" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDL2dZ1PGtAhDH7kJaIQ4SiUdb__K746qk&libraries=places&callback=initMap"></script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
